		<div class="card card-flush py-4">
		  <!--begin::Card header-->
		  <div class="card-header">
		    <div class="card-title">
		      <h2> {{'INISIGHTS.ADD_NEWS'|translate}}</h2>
		    </div>
		  </div>
		  <!--end::Card header-->
		  <!--begin::Card body-->
		  <div class="card-body pt-0">
		    <div class="row">
		      <div class="col-4">
		        <!--begin::Title-->

		        <!--end::Title-->
		        <!--begin::Input group-->
		        <div class="d-flex flex-column flex-md-row gap-5">
		          <div class="fv-row flex-row-fluid">
		            <label class="required form-label">{{'LOOKUPS.COUNTRIES.COUNTRY_NAME'|translate}}</label>
		            <!--end::Label-->
		            <!--begin::Select2-->
		            <mat-form-field appearance="fill" class="mb-2" style="width: 100%;">
		              <mat-label>Choose an option</mat-label>
		              <mat-select>
		                <mat-option value="option1">Option 1</mat-option>
		                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
		                <mat-option value="option3">Option 3</mat-option>
		              </mat-select>
		            </mat-form-field>

		            <!--end::Input-->
		          </div>
		          <div class="fv-row flex-row-fluid">
		            <label class="required form-label">{{'LOOKUPS.RESOURCES.RESOURCE_NAME'|translate}}</label>
		            <!--end::Label-->
		            <!--begin::Select2-->
		            <mat-form-field appearance="fill" class="mb-2" style="width: 100%;">
		              <mat-label>Choose an option</mat-label>
		              <mat-select>
		                <mat-option value="option1">Option 1</mat-option>
		                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
		                <mat-option value="option3">Option 3</mat-option>
		              </mat-select>
		            </mat-form-field>

		            <!--end::Input-->
		          </div>
		          <div class="fv-row flex-row-fluid">
		            <label class="required form-label">{{'LOOKUPS.NEWS_NATURE.ROOT'|translate}}</label>
		            <!--end::Label-->
		            <!--begin::Select2-->
		            <mat-form-field appearance="fill" class="mb-2" style="width: 100%;">
		              <mat-label>Choose an option</mat-label>
		              <mat-select>
		                <mat-option value="option1">Option 1</mat-option>
		                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
		                <mat-option value="option3">Option 3</mat-option>
		              </mat-select>
		            </mat-form-field>

		            <!--end::Input-->
		          </div>

		        </div>
		        <div class="d-flex flex-column flex-md-row gap-5">
		          <div class="fv-row flex-row-fluid">
		            <label class="required form-label">{{'LOOKUPS.NEWS_TYPE.ROOT'|translate}}</label>
		            <!--end::Label-->
		            <!--begin::Select2-->
		            <mat-form-field appearance="fill" class="mb-2" style="width: 100%;">
		              <mat-label>Choose an option</mat-label>
		              <mat-select>
		                <mat-option value="option1">Option 1</mat-option>
		                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
		                <mat-option value="option3">Option 3</mat-option>
		              </mat-select>
		            </mat-form-field>

		            <!--end::Input-->
		          </div>
		          <div class="fv-row flex-row-fluid">
		            <label class="required form-label">{{'LOOKUPS.CLASSIFICATIONS.CLASSIFICATIONS_NAME'|translate}}</label>
		            <!--end::Label-->
		            <!--begin::Select2-->
		            <mat-form-field appearance="fill" class="mb-2" style="width: 100%;">
		              <mat-label>Choose an option</mat-label>
		              <mat-select>
		                <mat-option value="option1">Option 1</mat-option>
		                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
		                <mat-option value="option3">Option 3</mat-option>
		              </mat-select>
		            </mat-form-field>

		            <!--end::Input-->
		          </div>
		          <div class="fv-row flex-row-fluid">
		            <label class="required form-label">{{'GENERAL.NEWS_DATE'|translate}}</label>
		            <!--end::Label-->
		            <!--begin::Select2-->

		            <mat-form-field appearance="fill" class="mb-2" style="width: 100%;">

		              <input matInput type="date">

		            </mat-form-field>
		            <!--end::Input-->
		          </div>

		        </div>
		        <!--end::Input group-->

		        <!--begin::Input group-->
		      </div>
		      <div class="col-8">

		        <div class="table-responsive rounded border border-1">
		          <table
		            class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3 pb-0 mb-0 table-row-gray-300">
		            <thead class="fw-bolder text-muted bg-light">
		              <tr class="fw-bolder text-muted">

		                <th class="min-w-150px text-center">{{'LOOKUPS.MAIN_KEYWORDS.ROOT'|translate}}</th>
		                <th class=" min-w-140px">{{'LOOKUPS.SUB_KEYWORDS.ROOT'|translate}}</th>
		                <th class="w-120px">{{'GENERAL.Deriving'|translate}}</th>


		              </tr>
		            </thead>
		            <tbody>
		              <tr>
		                <td class="bg-light-warning text-center"><a class="text-dark fw-bolder text-hover-primary fs-6">
		                    الإمارات
		                    (UAE,
		                    United Arab Emirates)</a></td>

		                <td style="padding: 0;" class="align-baseline">
		                  <table style="width: 100%;" class="text-center">
		                    <tr style="height: 49px;">
		                      <td>دبي
		                        (Dubai)
		                      </td>

		                    </tr>
		                    <tr style="height: 49px;">
		                      <td>الشيخ محمد بن زايد </td>

		                    </tr>
		                    <tr style="height: 49px;">
		                      <td>الإماراتي </td>

		                    </tr>
		                  </table>
		                </td>
		                <td style="padding: 0;">
		                  <table style="width: 100%;">
		                    <tr>

		                      <td class="p-0">

		                        <mat-slider color="primary" showTickMarks="true" max="5" min="0" thumbLabel="true">

		                          <input matSliderThumb>
		                        </mat-slider>
		                      </td>
		                    </tr>
		                    <tr>
		                      <td class="p-0">
		                        <mat-slider color="primary" showTickMarks="true" max="5" min="0" thumbLabel="true">

		                          <input matSliderThumb>
		                        </mat-slider>
		                      </td>
		                    </tr>
		                    <tr>
		                      <td class="p-0">
		                        <mat-slider color="primary" showTickMarks="true" max="5" min="0" thumbLabel="true">

		                          <input matSliderThumb>
		                        </mat-slider>
		                      </td>
		                    </tr>
		                  </table>
		                </td>
		              </tr>
		              <tr>
		                <td class="bg-light-warning text-center"><a class="text-dark fw-bolder text-hover-primary fs-6">
		                    السعودية
		                    (KSA,Saudia)</a></td>
		                <td style="padding: 0;" class="align-baseline">
		                  <table style="width: 100%;" class="text-center">
		                    <tr style="height: 49px;">
		                      <td>الرياض </td>

		                    </tr>
		                    <tr style="height: 49px;">
		                      <td>مكة </td>

		                    </tr>
		                    <tr style="height: 49px;">
		                      <td>محمد بن سلمان </td>

		                    </tr>
		                  </table>
		                </td>
		                <td style="padding: 0;">
		                  <table style="width: 100%;">
		                    <tr>

		                      <td class="p-0">
		                        <mat-slider color="primary" showTickMarks="true" max="5" min="0" thumbLabel="true">

		                          <input matSliderThumb>
		                        </mat-slider>
		                      </td>
		                    </tr>
		                    <tr>
		                      <td class="p-0">
		                        <mat-slider color="primary" showTickMarks="true" max="5" min="0" thumbLabel="true">

		                          <input matSliderThumb>
		                        </mat-slider>
		                      </td>
		                    </tr>
		                    <tr>
		                      <td class="p-0">
		                        <mat-slider color="primary" showTickMarks="true" max="5" min="0" thumbLabel="true">

		                          <input matSliderThumb>
		                        </mat-slider>
		                      </td>
		                    </tr>
		                  </table>
		                </td>
		              </tr>
		            </tbody>
		          </table>
		        </div>
		      </div>
		    </div>
		    <!--begin::Billing address-->
		    <div class="d-flex flex-column gap-5 gap-md-7">

		      <div class="d-flex flex-column flex-md-row gap-5">
		        <div class="fv-row flex-row-fluid">
		          <label class="required form-label">{{'GENERAL.LANGUAGE_NAME'|translate}}</label>
		          <!--end::Label-->
		          <!--begin::Select2-->
		          <mat-form-field appearance="fill" class="mb-2" style="width: 100%;">
		            <mat-label>Choose an option</mat-label>
		            <mat-select>
		              <mat-option value="option1">Arabic</mat-option>
		              <mat-option value="option2">English</mat-option>

		            </mat-select>
		          </mat-form-field>

		          <!--end::Input-->
		        </div>
		        <div class="fv-row flex-row-fluid col-8">
		          <label class="required form-label">{{'INISIGHTS.NEWS_TITLE'|translate}}</label>
		          <!--end::Label-->
		          <!--begin::Select2-->
		          <mat-form-field appearance="fill" class="mb-2" style="width: 100%;">
		            <input matInput>
		          </mat-form-field>

		          <!--end::Input-->
		        </div>


		      </div>
		      <!--end::Input group-->
		      <!--begin::Input group-->
		      <div class="fv-row">
		        <!--begin::Label-->
		        <label class="required form-label">{{'INISIGHTS.NEWS_TEXT'|translate}}</label>
		        <!--end::Label-->
		        <!--begin::Select2-->
		        <textarea class="form-control mb-2"></textarea>
		        <!--end::Select2-->
		      </div>

		    </div>
		    <!--end::Billing address-->
		  </div>
		  <!--end::Card body-->
		  <div class="card-footer">
		    <div class="d-flex justify-content-end">
		      <!--begin::Button-->
		      <a href="/insight/news-inbox" id="kt_ecommerce_add_product_cancel"
		        class="btn btn-light me-5">{{'GENERAL.CANCEL'|translate}}</a>
		      <!--end::Button-->
		      <!--begin::Button-->
		      <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-success  me-5">
		        <span class="indicator-label">{{'INISIGHTS.ACCEPT'|translate}}</span>
		        <span class="indicator-progress">Please wait...
		          <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
		      </button>

		      <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-danger  me-5">
		        <span class="indicator-label">{{'INISIGHTS.REJECT'|translate}}</span>
		        <span class="indicator-progress">Please wait...
		          <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
		      </button>
		      <!--end::Button-->
		    </div>
		  </div>
		</div>
