<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column"><span class="card-label fw-bolder fs-3 mb-1"
        translate="INISIGHTS.NEWS_OUTBOX">
      </span><span class="text-muted mt-1 fw-bold fs-7"></span></h3>
    <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user"
      class="card-toolbar">


      <!-- begin::Menu -->

      <button type="button" class="btn btn-sm btn-d btn-success m-1 btn-active-light-primary"
        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        {{'INISIGHTS.ACCEPTALL'|translate}}

      </button>
      <button type="button" class="btn btn-sm btn-d btn-instagram  " data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        {{'INISIGHTS.REJECTALLL'|translate}}

      </button>

      <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        <mat-icon>search</mat-icon>

      </button>
      <app-dropdown-menu11></app-dropdown-menu11>

    </div>
  </div>


  <div class="card-body py-3">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div class="form-check form-check-sm form-check-custom form-check-solid"><input type="checkbox" value="1"
                  data-kt-check="true" data-kt-check-target=".widget-13-check" class="form-check-input"></div>
            </th>
            <th class="min-w-150px">{{'INISIGHTS.NEWS_TITLE' |translate}}</th>
            <th class="min-w-140px"> {{'LOOKUPS.NEWS_TYPE.ROOT'|translate}}</th>
            <th class="min-w-120px" translate>GENERAL.NEWS_DATE</th>
            <th class="min-w-140px"> {{'GENERAL.LANGUAGE_NAME'|translate}}</th>
            <th class="min-w-120px"> {{'LOOKUPS.RESOURCES.RESOURCE_NAME'|translate}}</th>
            <th class="min-w-120px" translate>INISIGHTS.NEWS_STATUS</th>
            <th class="min-w-100px text-end" translate>GENERAL.ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-check form-check-sm form-check-custom form-check-solid"><input type="checkbox" value="1"
                  class="form-check-input widget-13-check"></div>
            </td>
            <td><a class="text-dark fw-bolder text-hover-primary fs-6"> الخبر الاول</a></td>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> خبر سياسي </a></td>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> 05/28/2020 </a> </td>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> العربية </a> </td>
            <td class="text-dark fw-bolder text-hover-primary fs-6">----</td>
            <td><span class="badge badge-light-success">{{'GENERAL.APPROVED'|translate}}</span></td>
            <td class="text-end">
              <a routerLink="/insight/news-inbox-action"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <mat-icon class="svg-icon svg-icon-3">remove_red_eye</mat-icon>

              </a>

              <a routerLink="/insight/news-inbox-action"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><span
                  class="svg-icon svg-icon-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3"
                      d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                      fill="currentColor"></path>
                    <path
                      d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                      fill="currentColor"></path>
                  </svg></span>
                <!----></a></td>
          </tr>
          <tr>
            <td>
              <div class="form-check form-check-sm form-check-custom form-check-solid"><input type="checkbox" value="1"
                  class="form-check-input widget-13-check"></div>
            </td>
            <td><a class="text-dark fw-bolder text-hover-primary fs-6"> الخبر الثاني</a></td>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> خبر اقتصادي </a></td>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> 04/18/2021 </a>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> الانجليزية </a> </td>
            <td class="text-dark fw-bolder text-hover-primary fs-6">----</td>
            <td><span class="badge badge-light-success">{{'GENERAL.APPROVED'|translate}} </span></td>
            <td class="text-end"> <a routerLink="/insight/news-inbox-action"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <mat-icon class="svg-icon svg-icon-3">remove_red_eye</mat-icon>

              </a>
              <a routerLink="/insight/news-inbox-action"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><span
                  class="svg-icon svg-icon-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3"
                      d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                      fill="currentColor"></path>
                    <path
                      d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                      fill="currentColor"></path>
                  </svg></span>
                <!----></a></td>
          </tr>
          <tr>
            <td>
              <div class="form-check form-check-sm form-check-custom form-check-solid"><input type="checkbox" value="1"
                  class="form-check-input widget-13-check"></div>
            </td>
            <td><a class="text-dark fw-bolder text-hover-primary fs-6"> الخبر الثالث</a></td>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> خبر رياضي </a></td>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> 07/23/2019 </a> </td>
            <td><a class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"> الانجليزية</a><span
                class="text-muted fw-bold text-muted d-block fs-7"> </span></td>
            <td class="text-dark fw-bolder text-hover-primary fs-6">www.google.come</td>
            <td><span class="badge badge-light-success">{{'GENERAL.APPROVED'|translate}}</span></td>
            <td class="text-end"> <a routerLink="/insight/news-inbox-action"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <mat-icon class="svg-icon svg-icon-3">remove_red_eye</mat-icon>

              </a>
              <a routerLink="/insight/news-inbox-action"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><span
                  class="svg-icon svg-icon-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3"
                      d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                      fill="currentColor"></path>
                    <path
                      d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                      fill="currentColor"></path>
                  </svg></span>
                <!----></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div  class="row mt-50">
      <textarea name="notes" id="" cols="30" rows="5" placeholder="برجاء اضافة الملاحظات الخاصة بالاخبار"></textarea>
    </div>
  </div>
